.logo{
	margin-right: 0.2%;
	margin-top: 0.2%;
	margin-left: 1%;
}
body{
	background-color: #01161E;
}
.web{
	background-image: url("159308441354935947.png");
	color: #EFF6E0;
	background-repeat:no-repeat;
	background-size: contain;
	background-position: center;
	text-align: center;
	padding: 5%;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;

}
.info{
	margin: 5% 10% 5% 15%;
	display: inline-block;
	color: #AEC3B0;	
	text-align: center;
	font-size: 117%;
	font-family: Arial, Helvetica, sans-serif;

}
#events{
	font-size: 250%;
	text-align: center;
	margin: 5%;
	color: #598392;
	font-style: italic;
	font-family: cursive;
  text-decoration-line: underline;
  text-underline-position: under;

}
i{
	color: #598392;
}
.calendar{
	opacity: 0.8;
	margin: auto;
	display: block;
	text-align: center;
	margin-bottom: 5%;
}
.calendar:hover{
	opacity: 1;
}

#bcal{

	 border:solid 1px #777;
	 width: 750px; 
	 height: 600px;
	 frameborder: 0;
	 scrolling: no;
}

#scal{
	 border:solid 1px #777;
	 width: 300px;
	 height: 400px;
	 frameborder: 0; 
	 scrolling: no;
}

.footer{
	margin-top: 0.5%;
	display: block;
}
.foot{
	color: #FFFFFF;
	text-align: right;
	margin-right: 5%;
	clear: both;

	
}
.fix{
	margin-right: 2%;
}
#para{
	margin-top: 2%;
}
.right{
	width: 47%;
	display: inline-block;
	float: right;
	height: 100%;
	margin-right: 2.5%;
	text-align: center;
}
.left{
	width: 47%;
	height: 100%;
	display: inline-block;
	float: left;
	text-align: center;
	margin-left: 2.5%;
	margin-top: 0%;
}
.left img{
	text-align: center;
	width:45%;
	height: 100%;
	border: solid black 2px;
	margin: 10% 10% 2% 10%;
	border-radius: 10%;
}
.uptext{
	text-decoration: underline;
	text-underline-position: under;
	color: #598392;
	font-style: italic;
	padding-top: 2%;
	text-align: center;
}
.who{
	color: #01161e;
	font-size: 200%;
}
.whogreat{
	 color: #FFFFFF;	
	 font-size: 200%;
}

.position{
	color: #BF1D1D;
	font-size: 170%;
}
.desc{
	font-size: 110%;
	margin: 4% 2% 4% 2%;
	text-align: justify;
}
#lft{
	margin-top: 0;
	background: #eff6e0;	
}
#rght{
	background: #000000;
	padding-bottom: 2%;
}
.right img{
	text-align: center;
	width:45%;
	height: 100%;
	border: solid black 2px;
	margin: 10% 10% 2% 10%;
	border-radius: 10%;
}
summary{
	color: #1D78C8;
}
.about{
	color: #FFFFFF;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
	text-align: justify;
}

#gmap_canvas{
	width: 100%;
	height: 400px;
	float: left;
	background-color: #01161E;
	margin-bottom: 5%;
	frameborder: 0;
	scrolling: no;
	marginheight: 0;
	marginwidth: 0;
}

.home{
		background-color: #01161E;

}
.contact{
	margin-left: auto;
	font-size: 130%;
	text-align: left;
	
}
.contact:first-child{
		margin-top: 25%;
}
.maps{
	margin-left: 20%;
	font-size: 200%;
	text-align: center;
	
}
.maprouter{
	position: relative;
	text-align: right;
}
.gmap_canvas{
	overflow: hidden;
	background: none!important;
	font-size: 50%;
}
.abcd{
			background-color: #01161E;
}
.phone,.mapped{
		color: #aec3b0;
}

.separator{
	background-color: #01161E; 
	text-align: left; 
	width: 100%; 
	height: 35px;
}

.separatorRight{
	background-color: #01161E; 
	text-align: left; 
	width: 100%; 
	height: 15px;
}

#memories{
	text-align: center;
	background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.example-image{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 7%;
  margin-bottom: 0.5%;
	border: 2px solid #FFF;
}
figcaption{
	text-align: center;
	color: #eff6e0;
	font-size: 150%;
	font-family: corsiva,cursive,"Times New Roman", Times, serif;
	font-style: italic;

}
